{% extends 'base_tw.html' %}

{% block meta %}
<title>Buat Task • Hans TM @ Tugas PBP</title>
{% endblock meta %}

{% block content %}

<body class="bg-gradient-to-br from-orange-600 to-amber-400 h-full min-h-screen w-full loaded p-4">
	<!-- <div class="max-w-[48rem] min-w-[24rem] m-auto bg-white rounded-md p-8 shadow-lg">
	</div> -->

	{% include 'navbar.html' %}

	<div class="max-w-[48rem] min-w-[24rem] m-auto bg-white rounded-md p-8 shadow-md hover:shadow-xl transition">

		<h1 class="text-4xl font-semibold mb-4">Buat Task</h1>

		{% if messages %}
		<div class="mb-4 bg-sky-200 py-2 px-3 rounded-md border-sky-300 border-2">
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<form method="POST" class="mb-3">
			{% csrf_token %}
			<div class="mb-3">
				<label for="inputTitle" class="mb-1 block">Judul</label>
				<input type="text" name="title" id="inputTitle" class="w-full border border-slate-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 mb-2 focus:invalid:border-red-500 focus:invalid:ring-red-500 transition" required>
			</div>
			<div class="mb-3">
				<label for="inputDescription" class="mb-1 block">Keterangan</label>
				<textarea type="text" name="description" id="inputDescription" class="w-full border border-slate-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 mb-2 focus:invalid:border-pink-500 focus:invalid:ring-red-500 transition" required></textarea>
			</div>
			<button class="py-2 px-3 bg-blue-500 text-white hover:bg-blue-600 focus:ring focus:ring-blue-200 rounded-md shadow-sm transition" type="submit">Tambah</button>
		</form>

	</div>

</body>

{% endblock content %}