{% extends 'base_tw.html' %}
{% load static %}

{% block meta %}
<title>To-Do List • Hans TM @ Tugas PBP</title>
<!-- <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> -->
<script defer src="{% static 'js/todolist-ajax.js' %}"></script>
<script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
{% endblock meta %}

{% block content %}
<body class="bg-gradient-to-br from-orange-600 to-amber-400 h-full min-h-screen w-full loaded p-4">
	<!-- <div class="max-w-[48rem] min-w-[24rem] m-auto bg-white rounded-md p-8 shadow-lg">
	</div> -->

	<header class="bg-white p-2 rounded-md shadow-md mb-4 hover:shadow-xl transition">
		<nav class="flex gap-1 items-center">
			<span class="px-2 rounded-md text-lg transition font-bold">📝 To-Do List</span>
			<button id="add-open-modal-nav" class="py-2 px-4 rounded-md bg-slate-100 hover:bg-slate-300 transition">➕ Buat Task</button>
			<span id="page-status" class="mx-2 text-slate-500">Sedang memuat...</span>
			<span class="py-2 group relative ml-auto">
				<span class="py-2 px-4 rounded-md bg-slate-100 hover:bg-slate-300 transition cursor-pointer">👤 {{ request.user }}</span>
				<div class="absolute pt-3 hidden group-hover:block right-0 transition">
					<div class="shadow-md rounded bg-white ring ring-slate-900/5 py-2 w-32">
						<a class="px-4 py-2 bg-white hover:bg-slate-200 w-full block transition" href="{% url 'todolist:logout' %}">🚪 Keluar</a>
					</div>
				</div>
	
			</span>
		</nav>
	</header>

	<div id="wrapper"></div>

	<div id="add-modal" class="overflow-y-auto overflow-x-hidden fixed top-0 left-0 z-10 w-screen md:inset-0 h-screen bg-black/30 hidden transition-opacity opacity-0">
		<div class="max-w-[48rem] min-w-[24rem] m-auto bg-white rounded-md p-8 shadow-md hover:shadow-xl transition mt-8">
			<h1 class="text-4xl font-semibold mb-4">Buat Task</h1>
			<form id="add-form" class="mb-3">
				<div class="mb-3">
					<label for="inputTitle" class="mb-1 block">Judul</label>
					<input type="text" name="title" id="inputTitle" class="w-full border border-slate-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 mb-2 focus:invalid:border-red-500 focus:invalid:ring-red-500 transition" required>
				</div>
				<div class="mb-3">
					<label for="inputDescription" class="mb-1 block">Keterangan</label>
					<textarea type="text" name="description" id="inputDescription" class="w-full border border-slate-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 mb-2 focus:invalid:border-pink-500 focus:invalid:ring-red-500 transition" required></textarea>
				</div>
				<button class="py-2 px-3 bg-blue-600 text-white hover:bg-blue-700 disabled:bg-blue-400 focus:ring focus:ring-blue-200 rounded-md shadow-sm transition" type="submit">Tambah</button>
			</form>
		</div>
	</div>
</body>

<template id="template-none">
	<div class="bg-white p-4 rounded-md shadow-md hover:shadow-xl transition">
		<p>Tidak ada task di sini. Ingin membuat task?</p>
		<div class="flex mt-3">
			<button class="py-2 px-3 bg-blue-600 text-white hover:bg-blue-700 disabled:bg-blue-400 focus:ring focus:ring-blue-200 rounded-md shadow-sm transition">➕ Buat Task</a>	
		</div>
	</div>
</template>

<template id="template-items">
	<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
	</div>
</template>

<template id="template-item">
	<div class="bg-white p-4 rounded-md flex shadow-md hover:shadow-xl transition">
		<div class="item-checkbox-wrapper mb-2 mr-4"></div>
		<div>
			<p class="item-title text-3xl mb-2">{{ item.title }}</p>
			<p class="item-description mb-2">{{ item.description }}</p>
			<p class="item-date text-sm text-slate-400 mb-2 ">{{ item.date|date:"j F Y" }}</p>
			<p>
				<button class="item-delete py-2 px-3 bg-red-600 text-white hover:bg-red-700 focus:ring focus:ring-red-200 rounded-md shadow-sm transition">Hapus</button>
			</p>
		</div>
	</div>
</template>

<template id="template-item-done">
	<button class="item-checkbox w-6 h-6 inline-block border-2 border-green-600 bg-green-500 text-white hover:bg-green-400 hover:border-green-500 relative rounded-sm transition"><span class="absolute -top-[0.4rem] left-[0.1rem] text-2xl">✓</span></button>
</template>

<template id="template-item-undone">
	<button class="item-checkbox w-6 h-6 inline-block border-2 border-slate-300 hover:border-slate-500 rounded-sm relative transition"></button>
</template>

{% endblock content %}