{% extends 'base_tw.html' %}

{% block meta %}
<title>To-Do List • Hans TM @ Tugas PBP</title>
{% endblock meta %}

{% block content %}

<body class="bg-gradient-to-br from-orange-600 to-amber-400 h-full min-h-screen w-full loaded p-4">
	<!-- <div class="max-w-[48rem] min-w-[24rem] m-auto bg-white rounded-md p-8 shadow-lg">
	</div> -->

	{% include 'navbar.html' %}
	
	<div class="bg-white p-4 rounded-md mb-4 shadow-md hover:shadow-xl transition">
		<h1 class="text-4xl font-semibold">To-Do List</h1>
		{% if messages %}
		<div class="mt-4 bg-sky-200 py-2 px-3 rounded-md border-sky-300 border-2">
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>

	<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
		{% for item in data %}
		<div class="bg-white p-4 rounded-md flex shadow-md hover:shadow-xl transition">
			<form method="POST" class="mb-2 mr-4">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{ item.pk }}">
				{% if item.is_finished %}
					<input type="hidden" name="action" value="undone">
					<button type="submit" class="w-6 h-6 inline-block border-2 border-green-600 bg-green-500 text-white hover:bg-green-400 hover:border-green-500 relative rounded-sm transition"><span class="absolute -top-[0.4rem] left-[0.1rem] text-2xl">✓</span></button>
				{% else %}
					<input type="hidden" name="action" value="done">
					<button type="submit" class="w-6 h-6 inline-block border-2 border-slate-300 hover:border-slate-500 rounded-sm relative transition"></button>
				{% endif %}
			</form>
			<div>
				<p class="text-3xl mb-2">{{ item.title }}</p>
				<p class="mb-2">{{ item.description }}</p>
				<p class="text-sm text-slate-400 mb-2">{{ item.date|date:"j F Y" }}</p>
				<p>
					<form method="POST">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ item.pk }}">
						<input type="hidden" name="action" value="delete">
						<button type="submit" class="py-2 px-3 bg-red-600 text-white hover:bg-red-700 focus:ring focus:ring-red-200 rounded-md shadow-sm transition">Hapus</button>
					</form>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>

</body>


{% endblock content %}