{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
{% endblock meta %}

{% block content %}

<header>
	<nav>
		<a href="{% url 'todolist:todolist' %}" class="current">📝 Todo List</a>
		<a href="{% url 'todolist:create_task' %}">➕ Buat Task</a>
		<span>Masuk sebagai {{ request.user }}</span>
		<a href="{% url 'todolist:logout' %}">🚪 Keluar</a>
	</nav>
	<h1>Todolist</h1>
</header>

<main>

	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
		{% for item in data %}
		<tr>
			<td>{{ item.title }}</td>
			<td>{{ item.description }}</td>
		</tr>
		{% endfor %}
	</table>


</main>

{% endblock content %}